<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bienvenidos | BazarIndependencia</title>
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
     <link rel="stylesheet" href="css/home.css">
</head>
<body>
     <header>
          <img src="img/bazar logo.png" alt="">

          <form class="busqueda" action="#" method="GET">
               <input type="search" placeholder="Buscar productos, marcas y más" name="search">
               <button type="submit"><i class="fa fa-search"></i></button>
           </form>

           <div class="centro">
               <i id="BotonMenu" class="fa fa-bars burger"></i>
           </div>
     
     <p class="descript">Compra en cuotas y sin tarjeta de credito</p>

     <ul class="navbar">
          <li class="descript"><i class=" nav fas fa-sign-in-alt"></i>  <a href="/login">Ingresá</a></li>
          <li class="descript"><i class="nav fas fa-user-alt"></i>  <a href="/register">Crea tu cuenta</a></li>
          <li class="descript"><i class="nav fas fa-store-alt"></i>  <a href="/product">Productos</a></li>
          <li class="descript"><i class="nav fas fa-shopping-cart"></i>  <a href="/cart">Tu Carrito</a>   </li>
     </ul>
     </header>
     
    <main class="container">

         <section>

              <h2 class="margin">Ofertas</h2>

              <article class="products">
     <img class="width" src="img/pochoclera1.jpg" alt="">
     <h4>Pochoclera Cime</h4>
     <p class="desc">25% off</p>
     <p class="Price">$ 1200</p>
     <p> <i class="fas fa-truck"></i>  Envios Gratis</p><br>
              </article>

              <article class="products">
     <img class="width" src="img/cacerola.jpg" alt="">
     <h4>Cacerola Essen</h4>
     <p class="desc">30% off</p>
     <p class="Price">$ 23000 </p>
     <p>Envios Gratis</p><br>
              </article>

              <article class="products">
     <img class="width" src="img/cafetera.jpg" alt="">
     <h4>Cafetera Italina</h4>
     <p class="desc">15% off</p>
     <p class="Price">$ 3800</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
              </article>

              <article class="products">
     <img class="width" src="img/tazas finas.jpg" alt="">
     <h4>Tazas Finas</h4>
     <p class="desc">10% off</p>
     <p class="Price">$ 2000</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
              </article>

              <article class="products">
     <img class="width" src="img/cuchara.jpg" alt="">
     <h4>Cuchara x12 Acero Inoxidable</h4>
     <p class="desc">30% off</p>
     <p class="Price">$ 1500</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
              </article>

              <article class="products">
     <img class="width" src="img/termo stanley.jpg" alt="">
     <h4>Termo Stanley</h4>
     <p class="desc">25% off</p>
     <p class="Price">$ 8500</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>   
              </article>
     
         </section>
         
     
         <section>

              <h2 class="margin">Basados en tu ultima vista</h2>
      <article class="products">
     <img class="width" src="img/lumilagro.jpg" alt="">
     <h4>Termo lumilagro</h4>
     <p class="Price">$ 1200</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
      </article>

      <article class="products">
     <img class="width" src="img/Madera.jpg" alt="">
     <h4>Cuchara de Madera</h4>
     <p class="Price">$ 400</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
      </article>

      <article class="products">
     <img class="width" src="img/pava.jpg" alt="">
     <h4>Pava Lumilagro</h4>
     <p class="Price">$ 2000</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>  
      </article>

      <article class="products">
     <img class="width" src="img/platos.jpg" alt="">
     <h4>Platos de ceramica x6</h4>
     <p class="Price">$ 2500</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
      </article>

      <article class="products">
     <img class="width" src="img/sarten.jpg" alt="">
     <h4>Sarten Essen</h4>
     <p class="Price">$ 8000</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
     </article>

     <article class="products">
     <img class="width" src="img/tupper.jpg" alt="">
     <h4>Tupper</h4>
     <p class="Price">$ 1000</p>
     <p><i class="fas fa-truck"></i>  Envios Gratis</p><br>
     </article>
     
     </section>
     
    </main>

    <footer>
            <article class="pie">
     <i class=" final fas fa-credit-card"></i>
     <h4></i>Pagá con tarjeta o en efectivo</h4>
     <p class="descript"> Tenés cuotas sin interés con tarjeta o efectivo en puntos de
        pago. ¡Y siempre es seguro!
     </p><br> 
            </article>
     
            <article class="pie">
     <i class="final fas fa-truck"></i>
     <h4 >  Envío gratis </h4>
     <p class="descript">Solo por estar registrad@ en BazarIndependencia tenés envíos gratis en miles de
     productos. 
     </p><br> 
            </article>

            <article class="pie">
     <i class=" final fas fa-user-shield"></i>
     <h4>Seguridad, de principio a fin</h4>
     <p class="descript">¿No te gusta? ¡Devolvelo! En BazarIndependencia no hay nada que no puedas hacer
      porque estás siempre prtegid@.
     </p> 
            </article>

            <div>
                 <p>Copyright © 1999-2019 BazarIndependencia S.R.L.</p> 
            </div>
         
     </footer>
     
     

        



     
</body>
</html>