<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Register | BazarIndependencia</title>
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
     <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <header>
     <a href="/"><img src="img/bazar logo.png" alt=""></a>

    </header>
    
    <main>
         <form action="/" method="POST">
     
          <p>
               
            <input class="inp" placeholder="Nombre Completo" type="text" id="nombre" name="nombre">
              </p>

              <p>
                   <label class="sex" for="sexo">Sexo</label><br>
                   <select class="inp" name="sexo" id="">
                        <option value="1">Femenino</option><br>
                        <option value="2">Masculino</option>
                   </select>
              </p>
        
              <p>
                
            <input class="inp" placeholder="Email" type="email" id="email" name="email">
              </p>
              
              
              <p>
                
            <input class="inp" placeholder="Contraseña" type="password" id="password" name="password">
              </p>

              <p>
               
           <input class="inp" placeholder="Repetir Contraseña" type="password" id="password" name="password">
             </p>

             <p>
               <input  type="checkbox" name="user" value="user">Recibir informacion de descuentos y ofertas<br>
          </p>

          <p>
               <input  type="checkbox" name="user" value="user">Acepto terminos y condiciones<br>
          </p>

              <p>
               <input class="submit" type="submit" value="Enviar">
               </p>
            </form>
     
     
     
     </form>
    </main>
     

     <footer>
          <article>
   <i class=" final fas fa-credit-card"></i>
   <h4></i>Pagá con tarjeta o en efectivo</h4>
   <p class="descript"> Tenés cuotas sin interés con tarjeta o efectivo en puntos de
      pago. ¡Y siempre es seguro!
   </p><br> 
          </article>
   
          <article>
   <i class="final fas fa-truck"></i>
   <h4 >  Envío gratis </h4>
   <p class="descript">Solo por estar registrad@ en BazarIndependencia tenés envíos gratis en miles de
   productos. 
   </p><br> 
          </article>

          <article>
   <i class=" final fas fa-user-shield"></i>
   <h4>Seguridad, de principio a fin</h4>
   <p class="descript">¿No te gusta? ¡Devolvelo! En BazarIndependencia no hay nada que no puedas hacer
    porque estás siempre prtegid@.
   </p> 
          </article>

          <div>
               <p>Copyright © 1999-2019 BazarIndependencia S.R.L.</p> 
          </div>
       
   </footer>
     
</body>
</html>